

/* body{
    display: flex; flex-direction:column;justify-content: center;
    
    

} */

body{
    background-color: rgb(152, 246, 215);
}

.box1{
   width: 1100px;
   height: auto;
   background-color: white;
   box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.489);
   margin: 60px 60px 60px 60px;
   padding-top: 100px;
   border-radius: 0.4rem;
   
  
}


.inp1{
    width: 500px;
    height: 50px;
    background-color:cyan;
    border: 2px solid black;
}

.inp2{
    width: 200px;
    height: 40px;
    background-color:cyan;
    border: 2px solid black;
}

.inp1:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 5px 5px 5px 8px black;
    transition: 0.7s;
    
}


.truee{
    border-color: green;
    
    -webkit-box-shadow: 5px 5px 15px 5px green; 
    box-shadow: 5px 5px 15px 5px green;
    }
    .falsee{
        border-color: red;
        -webkit-box-shadow: 5px 5px 15px 5px red; 
    box-shadow: 5px 5px 15px 5px red;
    animation: shake 0.2s ease-in-out 0s 2;
    }

    p{
        text-shadow: 10px 10px 10px 10px black;
        text-align: center;
        font-style: inherit;
    }

    .spanf{
        text-align: center;
        color: red;
        text-shadow: 10px red;
        
    }
    .spant{
        text-align: center;
        color: green;
        text-shadow: 10px green;
        font-style:unset;
    }

    .btn{

        margin: 8px;
    }
    .form-control{
        margin-bottom: 10px;
    }



   
    
    @keyframes shake {
        0% { margin-left: 0rem; }
        25% { margin-left: 0.5rem; }
        75% { margin-left: -0.5rem; }
        100% { margin-left: 0rem; }
      }